# ======================
# Jupyter
# ======================

.ipynb_checkpoints/

# ======================
# Python
# ======================

__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# OS
# ======================

Thumbs.db
.DS_Store

# ======================
# Data
# ======================

data/
*.csv
*.pkl
*.npy

# ======================
# Outputs
# ======================

outputs/
*.png
*.jpg
*.pdf

# ======================
# Model files
# ======================

*.pt
*.pth
*.h5

# ======================
# VS Code
# ======================

.vscode/
